*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/

header{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 1;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.contenitore-menu{
    width: calc(100% / 3);


}

ul{
    list-style-type: none;
}

.menu-navigazione{
    display:flex;
    color: gray;
    align-items: center;
    justify-content: space-around;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.pulsante-blu{
    color: white;
    background-color: #0061FF;
    border: 0;
}

.pulsante-bianco{
    color: black;
    background-color: white;
    border: 1px solid black;
    font-size: 12pt;
}

.pulsante-bianco:hover{
    color: white;
    background-color: #0061FF;
    border: 0;
    transition-duration: 0.5s;
    cursor: pointer;

}

.pulsante{
    width: fit-content;
    padding: 10px 20px;
}

.pulsante-blu:hover{
    border: 1px solid #0061FF;
    background-color: white;
    color: #0061FF;
    transition-duration: 0.5s;
    cursor: pointer;
}

/*MAIN*/

/*SEZIONE PROVA GRATUITA*/
.background-azzurro{
    background-color: #B4D0E7;
    height: 800px;
}

.row70{
    width: 70%;
    height: 800px;
    margin: auto;
}

.margin-top{
    padding-top: 130px;
}

.margin{
    margin: 30px 0px;
}

.contenitore-testo-titolo{
    font-size: 63pt;
    font-weight: 800;
    width: 100%;
}

.contenitore-float{
    width: 100%;
    margin-top: 50px;
    display: flex;
}

.contenitore-testo-prova{
    width: 32%;
    height: 80%;
    font-size: 14pt;
    display: inline-block;
}

.immagine-jumbo{
    width: 68%;
}

.arrow{
    width: 12%;
    transform: rotate(90deg);
    margin-top: 50px;
    transition-duration: 1s;
}

.arrow:hover{
    width: 13%;
}

/*PIANI TARIFFARI*/

.row60{
    width: 60%;
    margin: 100px auto;
}

.content-piani{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testo-fatturazione{
    width: 100%;
    font-size: 30pt;
    font-weight: 700;
    margin-bottom: 50px;
}

.row-piani-tariffari{
    width: calc(100% / 3 - 20px);
    height: 1000px;
    border: 1px solid gray;
    margin: 50px 0px;
}

.row-piano-enterprise{
    width: 100%;
    height: 300px;
    border: 1px solid gray;
}

.icone-testo{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SEZIONE 3*/

.contenitore-immagine-sezione3{
    width: 100%;
    margin: 200px 0px;
    display: flex;
    flex-direction: row-reverse;
}

.immagine-misura{
    width: 70%;
}

/*OPERAZIONI DROPBOX BUSINESS*/

.contenitore-testo-sezione3{
    width: 30%;
    margin: 70px 20px;
}

.operazioni-dropbox-business{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.misura-immagine-operazioni{
    width: 100%;
}

.contenitore-immagine-testo{
    width: calc(100% / 3 - 30px);
    margin: 30px 0px;
}

/*SEZIONE UTENTI ALL'ATTIVO*/

.utenti-allattivo{
    width: 100%;
    margin-top: 200px;
}

/*PORTFOLIO*/

.row100{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contenitore-portfolio{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color:#F5F5F5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenitore-logo-azienda{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.misure-logo{
    width: 50%;
}

hr{
    border-color: rgba(211, 211, 211, 0.26);
    width: 20%;
    margin: 40px 0px;
}

.testo-portfolio{
    margin-top: 40px
}

.bordo-background:hover{
    border: 20px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.contenitore-azienda{
    width: 85%;
    height: 85%;
}

.background-verde{
    background-color: #A2D39B;
}

.background-bordeaux{
    background-color: #61082B;
}

.background-blu{
    background-color: #0093CE;
}

.background-rosso{
    background-color: #FF1C1C;
}

.background-rosso2{
    background-color: #D5001F;
}

.background-celeste{
    background-color: #B4D0E7;
}

.background-blu2{
    background-color: #0D2481;
}

.background-giallo{
    background-color: #FFD830;
}

/*SEZIONE 6*/

.background-blu-main{
    background-color: #B4D0E7;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenitore-dropbox-business{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*DOMANDE FREQUENTI*/

.contenitore-domande{
    margin: 200px 0px;
    width: 100%
}

.testo-domande-frequenti{
    font-weight: 700;
    font-size: 30pt;
    margin-bottom: 50px;
}

.border-top{
    border-top: 1px solid black;
}

.testo-domanda{
    font-weight: 700;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow-down{
    padding: 0px 50px;
}

/*FOOTER*/

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding40{
    padding: 40px;
    line-height: 38px;
}

.contenitore-link-utili{
    width: 80%;
    padding: 60px;
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.categoria-link{
    margin-bottom: 20px;
    text-decoration: none;
}

/*LINGUE*/

.contenitore-lingua{
    width: 60%;
}

.lingua{
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 60px 0px;
}