*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/

header{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.contenitore-menu{
    width: calc(100% / 3);


}

ul{
    display:flex;
    color: gray;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.link-sottolineati:hover{
    text-decoration: underline;
    cursor: pointer;
}

.pulsante-blu{
    width: fit-content;
    color: white;
    background-color: #0061FF;
    padding: 10px 20px;
    border: 0;
}

.pulsante-blu:hover{
    border: 1px solid #0061FF;
    background-color: white;
    color: #0061FF;
    transition-duration: 0.5s;
    cursor: pointer;
}

/*MAIN*/

/*SEZIONE PROVA GRATUITA*/
.background-azzurro{
    background-color: #B4D0E7;
    height: 800px;
}

.row70{
    width: 70%;
    height: 800px;
    margin: auto;
}

.margin-top{
    padding-top: 130px;
}

.margin{
    margin: 30px 0px;
}

.contenitore-testo-titolo{
    font-size: 63pt;
    font-weight: 800;
    width: 100%;
}

.contenitore-float{
    width: 100%;
    margin-top: 50px;
    display: flex;
}

.contenitore-testo-prova{
    width: 32%;
    height: 80%;
    font-size: 14pt;
    display: inline-block;
}

.immagine-jumbo{
    width: 68%;
}

.arrow{
    width: 12%;
    transform: rotate(90deg);
    margin-top: 50px;
}

/*PIANI TARIFFARI*/

.row60{
    width: 60%;
    margin: 100px auto;
    background-color: bisque;
}

.content-piani{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testo-fatturazione{
    width: 100%;
    height: 200px;
    background-color: aqua;
}

.row-piani-tariffari{
    width: calc(100% / 3 - 20px);
    height: 1000px;
    background-color: chartreuse;
    margin: 50px 0px;
}

.row-piano-enterprise{
    width: 100%;
    height: 300px;
    background-color: chartreuse;
}

.icone-testo{
    width: 100%;
    height: 70px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenitore-immagine-sezione3{
    width: 100%;
    height: 700px;
    background-color: blueviolet;
    margin: 200px 0px;
}

.operazioni-dropbox-business{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: chocolate;
}

.contenitore-immagine-testo{
    width: calc(100% / 3 - 30px);
    height: 450px;
    background-color: dodgerblue;
    margin: 30px 0px;
}

.utenti-allattivo{
    width: 100%;
    height: 300px;
    background-color: darkblue;
    margin-top: 200px;
}

.row100{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.contenitore-aziende{
    width: calc(100% / 3);
    height: 100%;
    background-color: lightgray;
    border: 3px dashed black;
}

.background-blu-main{
    background-color: #B4D0E7;
    width: 100%;
    height: 300px;
}

footer{
    background-color: black;
    height: 500px;
}

.contenitore-domande{
    margin: 200px 0px;
    width: 100%;
    height: 600px;
    background-color: grey;
}